{% extends 'base.html.twig' %}

{% block title %}TalentsManager - les collaborateurs{% endblock %}

{% block body %}
{# {{ dump(profiles) }} #}
	<div class="container mt-5 d-flex flex-column align-items-center">
		<h1 class="mt-4 mb-4">Liste de tous les talents</h1>
		<div class="container d-flex justify-content-center">
			<table class="table table-hover w-75">
				<thead>
                    <tr>
                        <th scope="col">
                            <div class="d-flex justify-content-center w-100">Nom</div>
                        </th>
                        <th scope="col">
                            <div class="d-flex justify-content-center w-100">statut</div>
                        </th>
                        <th scope="col">
                            <div class="d-flex justify-content-center w-100">Date de recrutement/saisie</div>
                        </th>
                        <th scope="col">
                            <div class="d-flex justify-content-center w-100">Disponibilité</div>
                        </th>
                        <th scope="col">
                            <div class="d-flex justify-content-center w-100">gérer le profil</div>
                        </th>
                        <th scope="col">
                            <div class="d-flex justify-content-center w-100">Supprimer le profil</div>
                        </th>
                    </tr>
                </thead>
				<tbody>
					{% for profile in profiles %}
						<tr class="table-light">
							<th class="d-flex justify-content-start w-100 ps-5 fs-5">
								<div>
									{{ profile.firstname ~ " " ~ profile.lastname }}
								</div>
							</th>
							<td>
								<div class="d-flex justify-content-center w-100">
									{% if profile.status.name is same as('candidat') %}
										<small>
											<span class="badge rounded-pill bg-primary ms-4">
												{{ profile.status.name }}
											</span>
										</small>
									{% elseif profile.status.name is same as('collaborateur') %}
										<small>
											<span class="badge rounded-pill bg-success ms-4">
												{{ profile.status.name }}
											</span>
										</small>
									{% else %}
										<small>
											<span class="badge rounded-pill bg-warning ms-4">
												{{ profile.status.name }}
											</span>
										</small>
									{% endif %}
								</div>
							</td>
                            <td>
								{% if profile.user is not null %}
									<div class="d-flex justify-content-center w-100">
										{{ profile.user.date|format_datetime('short', 'none', locale='fr') }}
									</div>
								{% else %}
									<div class="d-flex justify-content-center w-100">
										{{ profile.date|format_datetime('short', 'none', locale='fr') }}
									</div>
								{% endif %}
							</td>
							<td>
								{% if profile.user is not null %}
									<div class="d-flex justify-content-center w-100">
										{% if profile.disponibility is same as(true) %}
											<span class="badge rounded-pill bg-success">disponible</span>
										{% else %}
											<span class="badge rounded-pill bg-danger">indisponible</span>
										{% endif %}
									</div>
								{% endif %}
							</td>
							<td>
								<div class="d-flex justify-content-center w-100">
									<a href="{{ path('profile', {'id': profile.id}) }}" style="margin-right: 30px;">
										<i class="fas fa-eye" style="color: black;"></i>
									</a>
									{% if profile.user is not null %}
										<div>
											<i class="fas fa-user-plus text-muted"></i>
										</div>
									{% else %}
										<a href="{{ path('add_user', {'id': profile.id}) }}">
											<i class="fas fa-user-plus text-black"></i>
										</a>
									{% endif %}
								</div>
							</td>
							<td>
								<div class="d-flex justify-content-center w-100">
									<a href="{{ path('delete_profile', {'id': profile.id}) }}" style="margin-right: 30px;">
										<i class="far fa-trash-alt" style="color: black"></i>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% if is_granted('ROLE_ADMIN') %}
			<div class="d-flex justify-content-center">
				<button type="button" class="btn btn-primary btn-lg mt-4">
					<a href="{{ path('add_profile') }}" style="color: white; padding: 2px; text-decoration: none;">Ajouter un talent</a>
				</button>
			</div>
		{% endif %}
	</div>
{% endblock %}
