{% extends 'base.html.twig' %}

{% block title %}Hello OptionsController!{% endblock %}

{% block body %}

    <div class="container w-75 mt-5">
        <div class="container">
            <div class="container w-50">
                {{ form(modify_profession_form) }}
            </div>
            <div class="dropdown-divider my-5"></div>
            <div class="container w-50">
                {{ form(modify_status_form) }}
            </div>
            <div class="dropdown-divider my-5"></div>
            <div class="container w-50">
                {{ form(modify_skill_level_form) }}
            </div>
            <div class="dropdown-divider my-5"></div>
            <div class="container w-50">
                {{ form(modify_experience_form) }}
            </div>
            <div class="dropdown-divider my-5"></div>
            <div class="container w-50">
                {{ form(modify_document_form) }}
            </div>
        </div>
    </div>

{% endblock %}