{% extends 'base.html.twig' %}

{% block title %}Portalents - Les entreprises{% endblock %}

{% block body %}
	<div class="container mt-5 d-flex flex-column align-items-center">
		<h1 class="mt-4 mb-4">Liste des entreprises</h1>
		<div class="container d-flex justify-content-center">
			<table class="table table-hover w-50">
				<thead>
					<tr>
						<th scope="col">
                            <div class="d-flex justify-content-center w-100">Nom</div>
                        </th>
						<th scope="col">
                            <div class="d-flex justify-content-center w-100">Téléphone</div>
                        </th>
						<th scope="col">
                            <div class="d-flex justify-content-center w-100">Courriel</div>
                        </th>
						<th scope="col">
                            <div class="d-flex justify-content-center w-100">Gérer l'entreprise</div>
                        </th>
					</tr>
				</thead>
				<tbody>
					{% for company in companies %}
						<tr class="table-light">
							<th class="d-flex justify-content-center w-100 fs-5">
								<div>{{ company.name }}</div>
							</th>
							<td>
								<div class="d-flex justify-content-center w-100">
									<a href="tel:{{ company.phone }}" class="link-dark">
										{% set splitNumber = company.phone|split('', 2) %}
										{{ splitNumber|join('.') }}
									</a>
								</div>
							</td>
							<td>
								<div class="d-flex justify-content-center w-100">
									<a href="mailto:{{ company.email }}" class="link-dark">
										{{ company.email }}
									</a>
								</div>
							</td>
							<td>
								<div class="d-flex justify-content-center w-100">
									<a href="{{ path('modify_company', {'id': company.id}) }}" style="margin-right: 30px;">
										<i class="fas fa-pencil-alt" style="color: black;"></i>
									</a>
									<a href="{{ path('delete_company', {'id': company.id}) }}">
										<i class="far fa-trash-alt" style="color: black"></i>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="d-flex justify-content-center">
			<button type="button" class="btn btn-primary btn-lg mt-4">
				<a href="{{ path('add_company') }}" style="color: white; padding: 2px; text-decoration: none;">Ajouter une entreprise</a>
			</button>
		</div>
	</div>
{% endblock %}

