{% extends 'base.html.twig' %}

{% block title %}Portalents - Les utilisateurs{% endblock %}

{% block body %}
	<div class="container mt-5 d-flex flex-column align-items-center">
		<h1 class="mt-4 mb-4">Liste des comptes</h1>
		<div class="container d-flex justify-content-center">
			<table class="table table-hover w-75">
				<thead>
                    <tr>
                        <th scope="col">
                            <div class="d-flex justify-content-center w-100">Nom</div>
                        </th>
                        <th scope="col">
                            <div class="d-flex justify-content-center w-100">Date de création</div>
                        </th>
                        <th scope="col">
                            <div class="d-flex justify-content-center w-100">Rôle</div>
                        </th>
                        <th scope="col">
                            <div class="d-flex justify-content-center w-100">Modifier le compte</div>
                        </th>
                        <th scope="col">
                            <div class="d-flex justify-content-center w-100">Supprimer le profil</div>
                        </th>
                    </tr>
                </thead>
				<tbody>
					{% for user in users %}
						<tr class="table-light">
							<th class="d-flex justify-content-start w-100 ps-5 fs-5">
								<div>{{ user.username }}</div>
							</th>
                            <td>
								<div class="d-flex justify-content-center w-100">
									{{ user.date|format_datetime('short', 'none', locale='fr') }}
								</div>
							</td>
							<td>
								<div class="d-flex justify-content-center w-100">
									{% if user.roles[0] is same as('ROLE_ADMIN') %}
										<span class="badge rounded-pill bg-danger">
											<small>Administrateur</small>
										</span>
									{% elseif user.roles[0] is same as('ROLE_COMMERCIAL') %}
										<span class="badge rounded-pill bg-success">
											<small>Commercial</small>
										</span>
									{% else %}
										<span class="badge rounded-pill bg-primary">
											<small>Collaborateur</small>
										</span>
									{% endif %}
								</div>
							</td>
							<td>
								<div class="d-flex justify-content-center w-100">
									<a href="{{ path('modify_user', {'id': user.id}) }}" style="margin-right: 30px;">
										<i class="fas fa-pencil-alt" style="color: black;"></i>
									</a>
								</div>
							</td>
							<td>
								<div class="d-flex justify-content-center w-100">
									<a href="{{ path('delete_user', {'id': user.id}) }}">
										<i class="far fa-trash-alt" style="color: black"></i>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="d-flex justify-content-center">
			<button type="button" class="btn btn-primary btn-lg mt-4">
				<a href="{{ path('add_user') }}" style="color: white; padding: 2px; text-decoration: none;">Ajouter un compte</a>
			</button>
		</div>
	</div>
{% endblock %}